qemu
esp-idf
build
flash_image_*.bin
.qemubak
.deepseek
.agents
*.gdb
*.pdf
Image
xipImage
*.dtb
fw_payload.bin
AGENTS.md
rootfs.*
s31_rom.bin
.codewhale
.agents
.vscode
toolchain
bootloader/managed_components/
bootloader/build-radio/
bootloader/build-radio.container-failed-*/
linux-esp32-s31.partial-*/
u-boot-esp32-s31.partial-*/
logs/
docs/esp-idf-docs/
__pycache__/
*.py[cod]
Dockerfile.build
