[submodule "linux-esp32-s31"]
	path = linux-esp32-s31
	url = https://github.com/GrieferPig/linux-esp32-s31.git
	branch = v6.12-esp32-s31
[submodule "opensbi-esp32-s31"]
	path = opensbi-esp32-s31
	url = https://github.com/GrieferPig/opensbi-esp32-s31
	branch = v1.9-esp32-s31
[submodule "busybox"]
	path = busybox
	url = https://github.com/mirror/busybox.git
[submodule "coremark"]
	path = coremark
	url = https://github.com/eembc/coremark.git
