CT_CONFIG_VERSION="4"
CT_EXPERIMENTAL=y
CT_PATCH_BUNDLED=y
CT_PATCH_ORDER="bundled"
# CT_PATCH_USE_LOCAL is not set
# CT_LOCAL_PATCH_DIR is not set
CT_PREFIX_DIR="/home/grieferpig/s31linux/toolchain/riscv32-esp-linux-musl"
CT_ARCH_RISCV=y
CT_ARCH_USE_MMU=y
CT_ARCH_ARCH="rv32imafbc_zicsr_zifencei_zaamo_zalrsc_zba_zbb_zbc_zbs"
CT_ARCH_ABI="ilp32"
CT_TARGET_CFLAGS=""
CT_TARGET_VENDOR="esp"
# The custom kernel checkout contains build/source links back to itself; the
# crosstool-NG license collector follows links and loops indefinitely.
# CT_INSTALL_LICENSES is not set
CT_KERNEL_LINUX=y
CT_LINUX_SRC_CUSTOM=y
CT_LINUX_CUSTOM_LOCATION="/home/grieferpig/s31linux/linux-esp32-s31"
CT_BINUTILS_SRC_DEVEL=y
CT_BINUTILS_DEVEL_URL="https://github.com/espressif/binutils-gdb.git"
CT_BINUTILS_DEVEL_BRANCH=""
CT_BINUTILS_DEVEL_REVISION="99fe9ecb9fb65a69be65944eb1bbd7e42dfe0857"
CT_BINUTILS_PLUGINS=y
CT_BINUTILS_XESPV2P1=y
CT_BINUTILS_ESP32P4_BIN_WRAPPERS_LOCATION="/home/grieferpig/crosstool-NG/esp-toolchain-bin-wrappers/gnu-riscv-binutils"
CT_LIBC_MUSL=y
CT_LIBC_MUSL_OPTIMIZE_SIZE=y
CT_GCC_SRC_DEVEL=y
CT_GCC_DEVEL_URL="https://github.com/espressif/gcc.git"
CT_GCC_DEVEL_BRANCH=""
CT_GCC_DEVEL_REVISION="0dbf584943ac179894690b389f3a37926bb4cd33"
CT_CC_GCC_LTO_ZSTD=y
CT_CC_LANG_CXX=y
